@font-face {
    font-family: PoiretOne;
    src: url('~@/assets/fonts/PoiretOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Fjalla;
    src: url('~@/assets/fonts/FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Exo2;
    src: url('~@/assets/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Exo2-Italic;
    src: url('~@/assets/fonts/Exo2-Italic-VariableFont_wght.ttf') format('truetype');
}

$color-primary: #40c6b1;
$color-primary-hover: #3cb3a1;
$color-dark: #000000;
$color-light: #F2F2F2;
$color-secondary: #A349CC;
$color-gray: #EFEFEF;
$color-dark-gray: #a5a5a5