@font-face {
    font-family: PoiretOne;
    src: url('~@/assets/fonts/PoiretOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Fjalla;
    src: url('~@/assets/fonts/FjallaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Exo2;
    src: url('~@/assets/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Exo2-Italic;
    src: url('~@/assets/fonts/Exo2-Italic-VariableFont_wght.ttf') format('truetype');
}